
:root {
    --header-border-color: #ECECEC;
    --portfolio-samples-border-color: #EEEEEE;
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --background-color-hero: #C4C4C4;
    --color-white: #FFFFFF;
    --background-color-light:#F5F4FA;
    --bacground-color-dark: #2F303A;
    --icons-color: #AFB1B8;
    --color-black: #000; 
    --button-active-color: #188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* ===================== COMPONENTS================ */
.subtitle {
    color: var(--title-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}
.title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title.visible {
    margin-bottom: 50px;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
    text-decoration: none;
}

/* ==========HEADER============= */

.site-nav-link {
    position: relative;
}

.site-nav-link.current {
    color: var(--accent-color);
}


.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.header-info {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--header-border-color);
}

.top {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}


.logo-header {
    color: var(--color-black);
}

.site-nav {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.header-info .contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.site-nav-link,
.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.site-nav-link {
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
    color: inherit;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.icon-contact {
    fill: currentColor;
}


/*=====================HERO======================== */


.hero {
    background-color: var(--background-color-hero);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg.images/bg.jpg');
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    padding: 10px 32px;

    color: var(--color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--button-active-color);
}


/* ========BENEFITS SECTION========= */


.section.benefits {
    background-color: var(--color-white);
    padding-bottom: 0px;
}

.benefits-list {
    display: flex;
    gap: 30px; 
}

.benefits-list .item {
    flex-basis: calc((100% - 90px) / 4);
}
.benefits-title.subtitle {
    margin-bottom: 10px;
}


.benefits-description {
    font-size: 14px;
    line-height: 1.71;
}
    
.benefits-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 100%;
    background-color: var(--background-color-light);
    border-radius: 4px;

    margin-bottom: 30px;
}
/* ====================ACTIVITY SECTION========== */

.section.activity {
    background-color: var(--color-white);
    }




.activity-list {
    display: flex;
    gap: 30px;
}
.activity-thumb {
    position: relative;

}

.activity-description .subtitle {
color: var(--color-white);
margin: 0;
}

.activity-description {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(47, 48, 58, 0.8);
width: 100%;
height: 70px;
bottom: 0;
}
  /* ================TEAM SECTION========== */

.section.team {
    background-color: var(--background-color-light);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    flex-basis: calc((100% - 90px) / 4);

    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list .team-member {
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.text-box {
    text-align: center;
    padding: 30px;
}
.team-list .member-description {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;

}


.social-links-list {
    display: flex;
    column-gap: 10px;
}
.social-links-item {
    width: 44px;
    height: 44px;
    }
   
.social-links-link {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
  
    background-color: var(--color-white);
    border-radius: 50%;
    fill: var(--icons-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.social-links-link:hover,
.social-links-link:focus {
    background-color: var(--accent-color);
    fill: var(--color-white);
}

/* =====================CLIENTS SECTION============= */
.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.clients-icon-item {
    width: 170px;
    height: 92px;

}
.clients-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    fill: var(--icons-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}
.clients-icon-link:hover,
.clients-icon-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}



    /* ==============FOOTER============ */
    .footer-info {
            background-color: var(--bacground-color-dark);
            padding-top: 60px;
            padding-bottom: 60px;
     }

    .bottom {
        display: flex;
        align-items: baseline;
    }
    .logo-contacts {
        margin-right: 70px;
    }
    
    .footer-info .logo {
        display: block;
        margin-bottom: 20px;
    }
    .logo-footer {
        color:var(--color-white);
    }
    .footer-info .contacts-footer-link,
    .footer-info .address-info {
        color: var(--footer-contacts-color);
        font-style: normal;
        line-height: 1.71;
        font-weight: 400;
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-info .contacts-footer-link:hover,
    .footer-info .contacts-footer-link:focus {
        color: var(--accent-color);
     }

    .footer-info .address-info {
        color: var(--color-white);
    }
    .logo-contacts .contacts {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .join-us.subtitle,
    .subscribe-to-us.subtitle {
        color: var(--color-white);
        margin-bottom: 20px;
    }
  .social-links-link.footer {
      fill: var(--color-white);
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }     

.social-links-link.footer:hover,
.social-links-link.footer:focus {
    background-color: var(--accent-color);
} 
.subscription {
    margin-left: auto;
}
.subcsription-form {
    display: flex;
    align-items: center;
  
}

.user-email {
    display: block;
    width: 295px;
    padding: 14px 15px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    background-color: var(--bacground-color-dark);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.subscription-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;

    padding: 10px 28px;
    
    border: none;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-right: 10px;
}
.subscription-button:hover,
.subscription-button:focus {
    background: var(--button-active-color);
}

.icon-subscription {
    fill:var(--color-white);
}

    
/* ==============PORTFOLIO STYLES=============== */

.section.portfolio {
    color: var(--title-color);
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-link {
    display: block;
    padding: 6px 22px;
    background-color: var(--background-color-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    text-align: center;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link.wider {
    padding-left: 25px;
    padding-right: 25px;
}
   

.filter-link:hover,
.filter-link:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.portfolio-samples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-samples .item {
    flex-basis: calc((100% - 60px) / 3);
}

.sample-description {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-samples-border-color);
    border-right: 1px solid var(--portfolio-samples-border-color);
    border-bottom: 1px solid var(--portfolio-samples-border-color);
}

.portfolio-samples h2 {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.sample-type {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1.88;
}
.sample-card {
    text-decoration: none;
    color: currentColor;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.sample-card:hover,
.sample-card:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
    position: relative;
    overflow: hidden;

    
}

.img-description {
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.56;
}
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    z-index:-1;
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.sample-card:hover .img-overlay,
.sample-card:focus .img-overlay {
    transform: translateY(0);
    z-index: 1;
   
}


/* ================MODAL============= */
.backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px;
    height: 581px;
    width: 528px;
    
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus
 {
    fill:var(--accent-color)
}
.form-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 12px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-description {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

.form-field {
    margin-bottom: 10px;
}
.form-field-wrapper {
    position: relative;
    display: block;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus{
    outline: none;
    border-color: var(--accent-color);

}
.form-input:focus + .form-icon {
    fill: var(--accent-color);
}
.form-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    padding: 12px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.comment {
    margin-bottom: 20px;
}
.form-comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-comment::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
.checkbox-wrapper {
    position: relative;
    margin-right: 7px;
}
.policy-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
.input-check {
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.check-icon {
    fill: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-checkbox a {
    color: var(--accent-color);
}

.check-border-icon {
    fill: var(--title-color);
}
.input-check:checked + .check-icon {
    opacity: 1;
}

.submit-button {
    align-self: center;
    padding: 10px 52px;

    color: var(--color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
    background: var(--button-active-color);
}