.page-header {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--header-border-color);
}

.page-header__container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo__logo-header {
    color: var(--color-black);
}

.nav-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.nav-list__link {
    position: relative;
}

.nav-list__link_current {

    color: var(--accent-color);
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
    
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
            }
        }


.contacts-list {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.nav-list__link,
.contacts-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-list__link {
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        
        color: var(--accent-color);
    }
}

.contacts-list__link {
    color: inherit;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.contacts-list__icon {
    fill: currentColor;
}