.hero {
    background-color: var(--background-color-hero);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg.images/bg.jpg');
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button_padding {
    padding: 10px 32px;
}

